<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://informatik.tu-darmstadt.de/bp/gruppe31"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://informatik.tu-darmstadt.de/bp/gruppe31 configSchema.xsd">
	
	<arguments-handler className="de.tudarmstadt.ukp.exploration.graph_doc_explorer.indexer.application.SolrArgumentsHandler" />	
	<indexer className="de.tudarmstadt.ukp.exploration.graph_doc_explorer.indexer.application.SolrIndexer" />
	<server-url url="http://localhost:8983/solr/documents" />
</config>